ServDVerifier.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ServDVerifier" targetNamespace="http://www.omg.org/spec/ServD/20130630" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.omg.org/spec/ServD/20130630" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="qualified" targetNamespace="http://www.omg.org/spec/ServD/20130630" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="VerifyOrganization">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="AttributeType" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="AttributeValue" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="OrganizationIdentifier" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="addresses" nillable="true" type="tns:ArrayOfAddress"/>
						<xs:element minOccurs="0" name="contacts" nillable="true" type="tns:ArrayOfContactPoint"/>
						<xs:element minOccurs="0" name="APIkey" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="ArrayOfAddress">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress"/>
			<xs:complexType name="Address">
				<xs:complexContent mixed="false">
					<xs:extension base="tns:ModeratedRecord">
						<xs:sequence>
							<xs:element minOccurs="0" name="AddressId" nillable="true" type="xs:string"/>
							<xs:element minOccurs="0" name="AddressPurpose" nillable="true" type="xs:string"/>
							<xs:element minOccurs="0" name="AddressType" nillable="true" type="xs:string"/>
							<xs:element minOccurs="0" name="Country" nillable="true" type="xs:string"/>
							<xs:element minOccurs="0" name="Jurisdiction" nillable="true" type="xs:string"/>
							<xs:element minOccurs="0" name="PostalIdentificationCode" nillable="true" type="xs:string"/>
							<xs:element minOccurs="0" name="Region" nillable="true" type="xs:string"/>
							<xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="Address" nillable="true" type="tns:Address"/>
			<xs:complexType name="ModeratedRecord">
				<xs:sequence>
					<xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="LastModificationDate" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="RecordPrivacyPolicy" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="RecordStatus" type="tns:RecordStatus"/>
					<xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ModeratedRecord" nillable="true" type="tns:ModeratedRecord"/>
			<xs:simpleType name="RecordStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Complete"/>
					<xs:enumeration value="Partial"/>
					<xs:enumeration value="CompleteAndRequiresModeration"/>
					<xs:enumeration value="CompleteAndModerationRejected"/>
					<xs:enumeration value="Deleted"/>
					<xs:enumeration value="DeletedAndRequiresModeration"/>
					<xs:enumeration value="DeletedAndModerationRejected"/>
					<xs:enumeration value="DoNotUpdate"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="RecordStatus" nillable="true" type="tns:RecordStatus"/>
			<xs:complexType name="ArrayOfContactPoint">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="ContactPoint" nillable="true" type="tns:ContactPoint"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfContactPoint" nillable="true" type="tns:ArrayOfContactPoint"/>
			<xs:complexType name="ContactPoint">
				<xs:complexContent mixed="false">
					<xs:extension base="tns:ModeratedRecord">
						<xs:sequence>
							<xs:element minOccurs="0" name="ContactOrderPreference" type="xs:int"/>
							<xs:element minOccurs="0" name="ContactPointId" nillable="true" type="xs:string"/>
							<xs:element minOccurs="0" name="ContactPointPurpose" nillable="true" type="xs:string"/>
							<xs:element minOccurs="0" name="ContactPointType" nillable="true" type="xs:string"/>
							<xs:element minOccurs="0" name="EquipmentCode" nillable="true" type="xs:string"/>
							<xs:element minOccurs="0" name="Value" nillable="true" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="ContactPoint" nillable="true" type="tns:ContactPoint"/>
			<xs:element name="VerifyOrganizationResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="VerifyOrganizationResult" nillable="true" type="tns:AttributeVerificationResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="AttributeVerificationResult">
				<xs:sequence>
					<xs:element minOccurs="0" name="AdditionalNotes" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Addresses" nillable="true" type="tns:ArrayOfAddress"/>
					<xs:element minOccurs="0" name="AttributeType" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="AttributeValue" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="ContactPoints" nillable="true" type="tns:ArrayOfContactPoint"/>
					<xs:element minOccurs="0" name="DigitalSignature" nillable="true" type="xs:base64Binary"/>
					<xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:dateTime"/>
					<xs:element minOccurs="0" name="FamilyName" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="GivenNames" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="PublicKey" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="VerificationStatus" type="tns:AttributeVerificationStatus"/>
					<xs:element minOccurs="0" name="VerificationString" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="AttributeVerificationResult" nillable="true" type="tns:AttributeVerificationResult"/>
			<xs:simpleType name="AttributeVerificationStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="NotApplicable"/>
					<xs:enumeration value="NotVerifiable"/>
					<xs:enumeration value="Pending"/>
					<xs:enumeration value="Verified"/>
					<xs:enumeration value="Expired"/>
					<xs:enumeration value="NotValid"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="AttributeVerificationStatus" nillable="true" type="tns:AttributeVerificationStatus"/>
			<xs:element name="VerifyProvider">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="AttributeType" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="AttributeValue" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="ProviderIdentifier" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="FamilyName" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="GivenNames" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="addresses" nillable="true" type="tns:ArrayOfAddress"/>
						<xs:element minOccurs="0" name="contacts" nillable="true" type="tns:ArrayOfContactPoint"/>
						<xs:element minOccurs="0" name="APIkey" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VerifyProviderResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="VerifyProviderResult" nillable="true" type="tns:AttributeVerificationResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VerifySite">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="AttributeType" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="AttributeValue" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="SiteIdentifier" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="addresses" nillable="true" type="tns:ArrayOfAddress"/>
						<xs:element minOccurs="0" name="contacts" nillable="true" type="tns:ArrayOfContactPoint"/>
						<xs:element minOccurs="0" name="APIkey" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="VerifySiteResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="VerifySiteResult" nillable="true" type="tns:AttributeVerificationResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="VerifyDetails_VerifyOrganization_InputMessage">
		<wsdl:part name="parameters" element="tns:VerifyOrganization"/>
	</wsdl:message>
	<wsdl:message name="VerifyDetails_VerifyOrganization_OutputMessage">
		<wsdl:part name="parameters" element="tns:VerifyOrganizationResponse"/>
	</wsdl:message>
	<wsdl:message name="VerifyDetails_VerifyProvider_InputMessage">
		<wsdl:part name="parameters" element="tns:VerifyProvider"/>
	</wsdl:message>
	<wsdl:message name="VerifyDetails_VerifyProvider_OutputMessage">
		<wsdl:part name="parameters" element="tns:VerifyProviderResponse"/>
	</wsdl:message>
	<wsdl:message name="VerifyDetails_VerifySite_InputMessage">
		<wsdl:part name="parameters" element="tns:VerifySite"/>
	</wsdl:message>
	<wsdl:message name="VerifyDetails_VerifySite_OutputMessage">
		<wsdl:part name="parameters" element="tns:VerifySiteResponse"/>
	</wsdl:message>
	<wsdl:portType name="VerifyDetails">
		<wsdl:operation name="VerifyOrganization">
			<wsdl:input wsaw:Action="http://www.omg.org/spec/ServD/20130630/VerifyDetails/VerifyOrganization" message="tns:VerifyDetails_VerifyOrganization_InputMessage"/>
			<wsdl:output wsaw:Action="http://www.omg.org/spec/ServD/20130630/VerifyDetails/VerifyOrganizationResponse" message="tns:VerifyDetails_VerifyOrganization_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="VerifyProvider">
			<wsdl:input wsaw:Action="http://www.omg.org/spec/ServD/20130630/VerifyDetails/VerifyProvider" message="tns:VerifyDetails_VerifyProvider_InputMessage"/>
			<wsdl:output wsaw:Action="http://www.omg.org/spec/ServD/20130630/VerifyDetails/VerifyProviderResponse" message="tns:VerifyDetails_VerifyProvider_OutputMessage"/>
		</wsdl:operation>
		<wsdl:operation name="VerifySite">
			<wsdl:input wsaw:Action="http://www.omg.org/spec/ServD/20130630/VerifyDetails/VerifySite" message="tns:VerifyDetails_VerifySite_InputMessage"/>
			<wsdl:output wsaw:Action="http://www.omg.org/spec/ServD/20130630/VerifyDetails/VerifySiteResponse" message="tns:VerifyDetails_VerifySite_OutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_VerifyDetails" type="tns:VerifyDetails">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="VerifyOrganization">
			<soap:operation soapAction="http://www.omg.org/spec/ServD/20130630/VerifyDetails/VerifyOrganization" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VerifyProvider">
			<soap:operation soapAction="http://www.omg.org/spec/ServD/20130630/VerifyDetails/VerifyProvider" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="VerifySite">
			<soap:operation soapAction="http://www.omg.org/spec/ServD/20130630/VerifyDetails/VerifySite" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServDVerifier">
		<wsdl:port name="BasicHttpBinding_VerifyDetails" binding="tns:BasicHttpBinding_VerifyDetails">
			<soap:address location="http://localhost:52792/ServDVerifier.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>